<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TellOurThinking.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B34BAEE1F30AC5D00B31A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B34BB051F30AC5E00B31A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B34BB101F30AC5E00B31A82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
